// Tang Nano 20K constraints for the i80-host STA/deployment build (top_tang20k_i80).
// = clk + LED + HDMI/TMDS (unchanged from tang20k_hdmi.cst) + i80 parallel host.
// QSPI is displaced in this build, so its pins are free; D7 reuses pin 41.
// Board: Sipeed Tang Nano 20K   FPGA: GW2AR-LV18QN88C8/I7

IO_LOC "I_clk" 4;
IO_PORT "I_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
CLOCK_LOC "I_clk_d" LOCAL_CLOCK;

IO_LOC "O_led[0]" 15;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[1]" 16;
IO_PORT "O_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[2]" 17;
IO_PORT "O_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[3]" 18;
IO_PORT "O_led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[4]" 19;
IO_PORT "O_led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[5]" 20;
IO_PORT "O_led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "O_tmds_clk_p" 33,34;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_p[0]" 35,36;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_p[1]" 37,38;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_p[2]" 39,40;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;

// ---- i80 parallel host (see tang20k_i80.cst for the pin-verification notes) ----
// D0..D7 in IOB bank (25-31 + ex-QSPI 41); CS/WR/RD/DC in IOT bank (76/77/80/85).
IO_LOC  "IO_i80_d[0]" 25;
IO_PORT "IO_i80_d[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "IO_i80_d[1]" 26;
IO_PORT "IO_i80_d[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "IO_i80_d[2]" 27;
IO_PORT "IO_i80_d[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "IO_i80_d[3]" 28;
IO_PORT "IO_i80_d[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "IO_i80_d[4]" 29;
IO_PORT "IO_i80_d[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "IO_i80_d[5]" 30;
IO_PORT "IO_i80_d[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "IO_i80_d[6]" 31;
IO_PORT "IO_i80_d[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "IO_i80_d[7]" 41;
IO_PORT "IO_i80_d[7]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC  "I_i80_cs" 76;
IO_PORT "I_i80_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP   BANK_VCCIO=3.3;
IO_LOC  "I_i80_wr" 77;
IO_PORT "I_i80_wr" IO_TYPE=LVCMOS33 PULL_MODE=UP   BANK_VCCIO=3.3;
IO_LOC  "I_i80_rd" 80;
IO_PORT "I_i80_rd" IO_TYPE=LVCMOS33 PULL_MODE=UP   BANK_VCCIO=3.3;
IO_LOC  "I_i80_dc" 85;
IO_PORT "I_i80_dc" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
